/* VARS
============================== */

    @fontDefault: 'Roboto', sans-serif;
    @fontTitle: 'Archivo Narrow', sans-serif;
    @baseSize: 14px;
    @baseLineHeight: 1.8;

    @baseColor: #000;
    @baseColorLink: #603829;


    @footerHeight: 150px;

/* function
==================================*/
.gradient(@col1, @col2){
    background: @col2;
    background: -webkit-linear-gradient(@col1 0%, @col2 100%);
    background: linear-gradient(@col1 0%, @col2 100%);
}
.table{
    width: 100%;
    display: table;
}
.box-siz{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.radius(@rad){
    -webkit-border-radius: @rad;
    border-radius: @rad;
}
.transition(@val){
    -webkit-transition:all @val ease-in-out;
    transition:all @val ease-in-out;
}
.transform(@val){
    -webkit-transform: @val;
    transform: @val;
}
.box-shadow(@val){
    -moz-box-shadow: @val;
    -webkit-box-shadow: @val;
    box-shadow: @val;
}
.container{
    &:after{
        content: '';
        display: table;
        clear: both;
    }
}
.ulreset{
    list-style:none;
    margin: 0;
    padding: 0;
}