@import "reset.less";
html, body, div, span, object, iframe, p, blockquote, pre,
abbr, address, cite, code,h1, h2, h3, h4, h5, h6,
del, dfn, em, ins, kbd, q, samp,
small, strong, var,
b, i,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
sup{
    vertical-align: super;
    font-size: @baseSize -  5;
}
sub{
    vertical-align: sub;
    font-size:  @baseSize -  5;
}
h1, h2, h3, h4, h5, h6{
    margin: 20px 0;
}
html{height: 100%; }
body {
    font: @baseSize/@baseLineHeight @fontDefault;
    height: 100%;
    min-width: 980px;
    color : #000;
    overflow-y: auto;
}
#wrapper {
    height: auto;
    min-height: 100%;
}
.main{
    padding-bottom: 411px;
    z-index: 1;
    position: relative;
}
article,aside,details,figcaption,figure,
footer,header,menu,nav,section {
    display:block;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {content: none;}
table {border-collapse: collapse;}
a {
    color: @baseColorLink;
    outline: 0;
    text-decoration: underline;
    cursor: pointer;
    webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-focus-ring-color: rgba(0,0,0,0);
    &:hover {
        text-decoration: none;
        outline: 0;
    }
    &:focus, &:active{
        outline: 0;
    }
    &[href^=tel]{
        color: inherit;
        text-decoration: none !important;
        display: inline !important;
        padding: 0 !important;
        border: 0;
    }
}
ins {
    background-color:#fff;
    color:#000;
    text-decoration:none;
}
mark {
    background-color:#fff;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {text-decoration: line-through;}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
hr {
    height:1px;
    border:0;
    border-top:1px solid #ccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
    margin:0;
    padding:0;
    outline:0;
}
input[type=text], input[type=password], input[type=tel], input[type=email], input[type=search], textarea{
    font: 17px 'Roboto', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ddd;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
}
input[type=text], input[type=password], input[type=tel], input[type=email], input[type=search]{
    line-height: 1.2;
    padding: 9px 10px;
}
textarea{
    padding: 5px 10px;
    &:focus{
        outline: 0;
    }
}
.container{
    &:after{
        content: '';
        display: table;
        clear: both;
    }
}
img {
    border: none;
    vertical-align: top;
}
/* General styles
   ================================== */